<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Razorfish | Experiment Title</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <meta property="og:site_name" content="Razorfish Expariment Title prototype" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Razorfish Expariment Title prototype" />
    <meta property="og:url" content="http://andrevenancio.github.io/playground/template/template.html" />
    <meta property="og:image" content="http://andrevenancio.github.io/playground/template/preview.png" />
    <meta property="og:description" content="prototype" />
    <link rel="stylesheet" type="text/css" href="css/rf.css">
    <script src="lib/stats.min.js"></script>
    <script src="lib/dat.gui.min.js"></script>
    <script src="lib/razor.min.js"></script>
    <script src="lib/raf.js"></script>
  </head>
  <body>
    <header>Experiment Title</header>
    
    <canvas id="canvas"></canvas>
    <script src="js/example.js"></script>
    <script>
      var example = new Example();
    </script>
  </body>
</html>