<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Razorfish | Experiment Title</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="css/rf.css">
    <script src="lib/stats.min.js"></script>
    <script src="lib/dat.gui.min.js"></script>
    <script src="lib/razor.min.js"></script>
    <script src="lib/raf.js"></script>
  </head>
  <body>
    <header>Experiment Title</header>
    
    <canvas id="canvas"></canvas>
    <script src="js/example.js"></script>
    <script>
      var example = new Example();
    </script>
  </body>
</html>