[submodule "template/lib/stats.js"]
	path = template/lib/stats.js
	url = https://github.com/mrdoob/stats.js.git
[submodule "template/lib/dat-gui"]
	path = template/lib/dat-gui
	url = https://code.google.com/p/dat-gui/
[submodule "template/lib/razor"]
	path = template/lib/razor
	url = git@github.com:andrevenancio/razorfish-razor.git
